.contact {
  padding-top: em($spacing-large);
  padding-bottom: em($spacing-large);

  &__bloc {
    margin-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      &:last-of-type {
        text-align: right;
      }
    }
  }
}
