.footer {
    position: relative;
    z-index: 3;
    background: $white;
    padding: 0 em($spacing-small);
    transform: translateZ(0);
  
    @include breakpoint($beyond-medium) {
      padding-right: em($spacing-large);
      padding-left: em($spacing-large);
    }      
}