.instagram-feed {
  position: relative;
  overflow: hidden;
  line-height: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    overflow: hidden;

    @include breakpoint((max: 319)) {
      &:nth-child(n+7) {
        display: none;
      }
    }

    @include breakpoint((min: 320)) {
      width: 50%;
    }

    @include breakpoint((max: 639)) {
      &:nth-child(n+9) {
        display: none;
      }
    }

    @include breakpoint((min: 640)) {
      width: (100 / 3) * 1%;
    }

    @include breakpoint((max: 959)) {
      &:nth-child(n+13) {
        display: none;
      }
    }

    @include breakpoint((min: 960)) {
      width: (100 / 4) * 1%;
    }

    @include breakpoint((max: 1179)) {
      &:nth-child(n+17) {
        display: none;
      }
    }

    @include breakpoint((min: 1180)) {
      width: (100 / 5) * 1%;
    }

    @include breakpoint((min: 1500)) {
      width: (100 / 6) * 1%;
    }
  }

  &__inner {
    position: relative;
    padding: 50%;
  }

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100% + #{4px});
    transform: translate(-50%, -50%);
    transition: opacity $transition-duration $transition-timing;
    backface-visibility: hidden;
    perspective: 1000;

    &--hidden {
      opacity: 0;
    } 
  }

  &__caption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: calc(#{em($spacing-small)} + #{2px});
    color: $white;
    text-align: center;
    opacity: 0;
    transition: opacity $transition-duration $transition-timing;

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }

  &__link {
    display: block;
    background-color: $alt-color;

    &:hover,
    &:active,
    &:focus {
      .instagram-feed__picture {
        opacity: 0;
      }

      .instagram-feed__caption {
        opacity: 1;
      }
    }
  }

  .follow-me {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.follow-me {
  &__inner {
    position: relative;
    padding: 50%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + #{4px});
    width: calc(100% + #{4px});
    box-sizing: border-box;
    padding: calc(#{em($spacing-small)} + #{2px});
    background-color: $white;
    text-align: center;
  }

  &__avatar {
    display: inline-block;
    vertical-align: middle;
    height: em($spacing-large);
    width: em($spacing-large);
    margin: em($spacing-small);
    border-radius: 50%;
    overflow: hidden;
  }

  &__instagram-logo {
    display: inline-block;
    vertical-align: middle;
    margin: em($spacing-small);
  }
}
