.main-header {
  padding: em($spacing-medium) em($spacing-small) 0;

  @include breakpoint($beyond-medium) {
    position: fixed;
    padding: 0;
    right: 0%;
    top: 50%;
    transform: rotate(0.25turn);
    z-index: 2;
  }
}
