.references {
  &__title {
    padding-bottom: .25em;
    border-bottom: solid #{$border-width * 2}px $dark;
    line-height: 1;
    text-align: center;

    @-moz-document url-prefix() {  // sass-lint:disable-line no-vendor-prefixes
      line-height: 1.5;
    }
  }

  &__subtitle {
    margin: em($spacing-medium) 0 1em;

    @include breakpoint($beyond-medium) {
      margin-top: em($spacing-large);
    }
  }

  p,
  li {
    margin: 1em 0 0;
  }
}
