.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  box-sizing: border-box;
  padding: em($spacing-large) em($spacing-small) 0;

  @include breakpoint($beyond-medium) {
    padding-right: em($spacing-large);
    padding-left: em($spacing-large);
  }
}
