.artwork {
  min-height: 100%;
  box-sizing: border-box;
  padding: em($spacing-large) em($spacing-small) 0;

  @include breakpoint($beyond-medium) {
    padding-right: em($spacing-large);
    padding-left: em($spacing-large);
  }

  &__intro {
    display: block;
    margin: em($spacing-medium) auto em($spacing-large);
    text-align: center;

    @include breakpoint($beyond-medium) {
      margin-bottom: em($spacing-larger);
    }

    p + p {
      margin-top: 1em;
    }
  }

  &__title {
    padding-bottom: .25em;
    border-bottom: solid #{$border-width * 2}px $dark;
    line-height: 1;
    text-align: center;

    @-moz-document url-prefix() { // sass-lint:disable-line no-vendor-prefixes
      line-height: 1.5;
    }

    &.text--alt-color {
      border-color: $alt-color;
    }
  }

  &__projects {
    img,
    video {
      height: auto;
      width: auto;
      max-width: 100%;
    }

    .with-limited-height {
      max-height: calc(100vh - #{em(2 * $spacing-large)});
    }

    video[onclick] {
      cursor: pointer;
    }

    .projects__list-item + .projects__list-item {
      margin-top: em($spacing-large);

      @include breakpoint($beyond-medium) {
        margin-top: em($spacing-larger);
      }
    }

    .project__caption {
      margin-top: 1em;
    }
  }

  &__content {
    margin: em($spacing-large) 0;

    @include breakpoint($beyond-medium) {
      margin: em($spacing-larger) 0;
    }
  }
}
