.home {
    &__main-header {
        color: $primary;
        @include breakpoint($below-medium) {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }

    }

    &__cover {
        position: relative;
        display: block;
        height: calc(100vh - #{em($spacing-large)});
        width: 100%;
        overflow: hidden;
        
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__instagram-feed {
        margin-top: em($spacing-large);
    }

    &__content-wrapper {
        position: relative;
        z-index: 3;
        background: $background;
        transform: translateZ(0);
    }

    &__content {
        padding: em($spacing-large) em($spacing-small) 0;
        
        @include breakpoint($beyond-medium) {
            padding-right: em($spacing-large);
            padding-left: em($spacing-large);
        }
    }
}