.legals {
  min-height: 100%;
  box-sizing: border-box;
  padding: em($spacing-large) em($spacing-small);

  @include breakpoint($beyond-medium) {
    padding-right: em($spacing-large);
    padding-left: em($spacing-large);
  }

  &__content {
    padding-top: em($spacing-large);
  }

  &__title {
    border-bottom: solid #{$border-width * 2}px $dark;
    text-align: center;
  }

  &__subtitle {
    margin: em($spacing-medium) 0 1em;

    @include breakpoint($beyond-medium) {
      margin-top: em($spacing-large);
    }
  }

  p,
  li {
    margin: 1em 0 0;
  }
}
