.ribbon {
    position: relative;

    &__wrapper {
      height: em(400);
      padding: 0 em($spacing-large) em($spacing-small*2);
      overflow: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
    }

    img {
      display: inline-block;
      vertical-align: top;
      height: 100%!important;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: em($spacing-large);
    }

    $transparent-background: rgba($background, 0);

    &::before {
      left: -1px;
      background: linear-gradient(to right, $background, $transparent-background);
    }

    &::after {
      right: -1px;
      background: linear-gradient(to right, $transparent-background, $background);
    }
  }
