.video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--dark {
      $dark: rgb(0, 0, 0);
      background: $dark;
    }

    &__play-button {
      @include reset-button;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      $translucent: rgba($background, .8);
      background: $translucent;
      color: transparent;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: em(40);
        width: em(40);
        background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40"%3e%3cpath d="m12.9 5.9 14.2 14.1-14.2 14.1z" fill="#{encoded-color($dark)}" stroke="#{encoded-color($dark)}"/%3e%3c/svg%3e');
        transform: translate(-50%, -50%);
      }
    }
  }