$browser-context: 16 !default;

$regular-font: 'Nunito', sans-serif !default;

$text-sizes-values: (
  bigger: (size: 32, line-height: (40/32)),
  big: (size: 24, line-height: (30/24)),
  medium: (size: 16, line-height: (22/16)),
  small: (size: 12, line-height: (18/12))
);

$spacing-small: 10 !default;
$spacing-medium: 40 !default;
$spacing-large: 60 !default;
$spacing-larger: 200 !default;

$gutter: 10 !default;

//== Container sizes
$container-max-width: 1180 !default;
$container-max-width-with-gutters: $container-max-width + ($gutter * 2) !default;

//== RWD
$below-small: (max: 374);
$beyond-small: (min: 375);
$small: (min: 375, max: 749);

$below-medium: (max: 749);
$beyond-medium: (min: 750);
$medium: (min: 750, max: $container-max-width-with-gutters - 1);

$below-large: (max: $container-max-width-with-gutters - 1);
$beyond-large: (min: $container-max-width-with-gutters);

//== Colors
$white: rgb(255, 255, 255) !default;
$dark: rgb(74, 74, 74) !default;

$primary: rgb(209, 52, 91);
$secondary: rgb(52, 209, 191);
$tertiary: rgb(115, 137, 174);

$background: rgb(255, 238, 242);
$active-color: $primary !default;
$alt-color: $tertiary !default;

//== Animations
$border-width: 1 !default;

//== Animations
$transition-duration: .2s;
$bigger-transition-duration: .4s;
$transition-timing: ease-in-out;
