// sass-lint:disable no-vendor-prefixes

html {
  height: 100%;
  overflow-y: scroll;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $background;
  color: $dark;
}

::selection {
  background: $active-color;
  color: $white;
}

a {
  color: $dark;
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
