.text {
  font-family: $regular-font;
  font-weight: 400;
  line-height: map-get(map-get($text-sizes-values, medium), line-height);

  &--alt-color {
    color: $alt-color;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--centered {
    text-align: center;
  }

  &--right-aligned {
    text-align: right;
  }

  &__link {
    color: $dark;
    fill: $dark;
    text-decoration: none;
    transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all

    &:focus {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: $active-color;
      fill: $active-color;
    }

    
  }

  &--bold &__link--with-underline {
    border-width: #{$border-width * 2}px;
  }

  @each $font-size, $values in $text-sizes-values {
    &--#{$font-size} {
      font-size: em(map-get($values, size));
      line-height: map-get($values, line-height);
    }
  }

  $thresholds: (
    sm: $beyond-small,
    md: $beyond-medium,
    lg: $beyond-large
  );

  @each $key, $threshold in $thresholds {
    @include breakpoint($threshold) {
      @each $font-size, $values in $text-sizes-values {
        &--#{$font-size}-#{$key} {
          font-size: em(map-get($values, size));
          line-height: map-get($values, line-height);
        }
      }

      &--bold-#{$key} {
        font-weight: 700;
      }
    }
  }
}

.cc-window {
  font-family: $regular-font;
  font-weight: 400;
  line-height: map-get(map-get($text-sizes-values, medium), line-height);

  a {
    text-decoration: none;
    transition: color $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all
  
    &:focus {
      outline: none;
    }
  
    &:hover,
    &:active,
    &:focus {
      color: $active-color;
      fill: $active-color;
    }
  }
}