.row {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 0;

  &--centered {
    display: block;
    max-width: em($container-max-width + ($gutter * 2));
    margin: 0 auto;
  }

  &--with-right-aligned-col {
    text-align: right;

    & > * {
      text-align: left;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    $parts: (
      half: 2,
      third: 3,
      quarter: 4,
      two-thirds: 3 / 2,
    );

    $thresholds: (
      sm: $beyond-small,
      md: $beyond-medium,
      lg: $beyond-large
    );

    @each $name, $divider in $parts {
      &--#{$name} {
        width: (100% / $divider);
      }
    }

    &--with-left-gutter {
      box-sizing: border-box;
      padding-left: em($spacing-large);
    }

    &--with-right-gutter {
      box-sizing: border-box;
      padding-right: em($spacing-large);
    }

    @each $key, $threshold in $thresholds {
      @include breakpoint($threshold) {
        @each $name, $divider in $parts {
          &--#{$name}-#{$key} {
            width: (100% / $divider);
          }
        }

        &--with-left-gutter-#{$key} {
          box-sizing: border-box;
          padding-left: em($spacing-large);
        }

        &--with-right-gutter-#{$key} {
          box-sizing: border-box;
          padding-right: em($spacing-large);
        }
      }
    }
  }
}
